*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

html {
    font-size: 6;
}

body {
    margin: 0;
    font-family: 'Space Mono', monospace;
    color: white;
    background: #202731;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.blue {
    background: #3C31DD;
}

.red {
    background: #DD3F31;
}

.pink {
    background: #47031e;
}

.dark {
    background: #0F0F10;
}

.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%; 
    background-color: #202731;
    transform: translate(85%, 60%);
}

.curve::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%; 
    background: #3C31DD;
    transform: translate(-4%, 40%);
    z-index: -1;
}

.bubble::after {
    content: "";
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: absolute;
    top: 0;
    height: 20%; 
    width: 100%;
    background-color: #0F0F10;
    z-index: -1;
}

